//includeConfig "$NEXTFLOW_MODULES/sarek_wrapper/nextflow.config"
includeConfig "$NEXTFLOW_MODULES/variantinterpretation/nextflow.config"

nextflow.enable.moduleBinaries = true

//params.input = "$PRIVATE_TESTDATA_DIR/samplesheets/samplesheet_cio_vcf.csv"
//params.fasta = "$NGS_REFERENCE_DIR/ncbi_grch38_wholegenomefasta_genome.fa"
//params.vep_cache = "$NGS_REFERENCE_DIR/vep_cache/108/indexed/"

